@font-face {
    font-family: Aniron;
    src: url("./aniron.regular.ttf");
}

@font-face {
    font-family: partyB;
    src: url("./partybusiness.ttf");
}

@font-face {
    font-family: casseCouille;
    src: url("./tngan.ttf");
}

body {
    background-image: url("/bg_light.png");
    color:black;
    font-family: partyB;
    font-size: 20px;
}

.realFooter {
    background-color: #ff5f01;
    color: white;
    text-align: center;
}

li {
    color: #ff5f01;
}




.couille {
    color: black;
}

#reward {


    margin-right: 7vw;

}


h1 {
    font-family: Aniron;
    font-size: 50px;
}

h2 {
    font-family: Aniron;
    font-size: 25px;
}


@media screen and (max-width:450px ) {
    h1 {
        display: none;
    }
    h2{
        font-size: 20px;
    }
    body {
        font-size: 15px;
    }

}

.navPolice {
    font-family: casseCouille;
    color: #ff5f01;
}

.navPolice2 {
    color: #ff5f01;
}




.scss {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.ring1 {
    padding-top: 30px;
    height: 100px;
    display: flex;
}

.ring2 {
    padding-top: 70px;
    height: 150px;
    display: flex;
    align-items: center;
}

.ring3 {
    padding-top: 100px;
    height: 250px;
    display: flex;
    align-items: center;
}

.anneauP {
    border: 8px solid orange;
    box-shadow: 3px 3px 5px #0a0a0a;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.anneauOr {
    border: 10px solid yellow;
    box-shadow: 8px 8px 5px #0a0a0a;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.anneau1 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -5px;
}

.anneau2 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: -10px;
}

.anneau3 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: -15px;
}

.anneau4 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: -20px;
}

.anneau5 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: -25px;
}

.anneau6 {
    border: 5px solid #515050;
    box-shadow: 2px 2px 5px #0a0a0a;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left: -30px;
}
